/*Seteo de estilos*/
* {
   box-sizing: border-box;
   margin: unset;
   padding: unset;
   border: unset;
   outline: unset; 

   list-style: none;
   text-decoration: none;

   font-size: 16px;
   font-family: Arial;
   font-weight: 400;
}




/*---------- Navbar---------*/

.navbar__nav {
display: flex;
justify-content: space-between;
align-items: center;
}

.navbar__nav__list {
    display: flex;
    align-items: center;
    gap: 80px;
}
/*-----------Jumbotron------------*/

.jumbotrom h1 {
padding: 80px 0;
text-align: center;
}

.jumbotrom h1 {
font-size: 3.75rem;
font-weight: 700;
}